<html>
<head><title>Registro de usuario</title></head>
<body>
  <br/>
  <p>
    <strong>¡Bienvenido! {{ name }} </strong> 
  </p> 
  <br/>
  <p>A continuación te recordamos el usuario y contraseña.</p>
  <br/>
  <h3>Usuario: {{ email }}</h3>
  <h3>Contraseña: {{ password }}</h3>
  <br/>

    Saludos,
  <br/>
  <br/>
</body>
</html>
